---
title: Courses
page-layout: full
sidebar: false
toc: false
listing:
  contents: {{ courses | map(attribute='route') | list | tojson }}
  type: grid
  sort: false
  fields:
    - title
    - description
    - image
---

Full course notes, mid-effort. Click a course below.
